@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Itim');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --vh: 0vh;
}
body {
  background-color: #a8dce7;
  height: calc(var(--vh, 1vh) * 100); /* Verwende die berechnete Höhe */
  margin: 0;
  display: block;
}
body,
html {
  overscroll-behavior: none;
}

.container-top h4 {
  position: fixed;
  font-family: 'inter' sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  opacity: 60%;
  width: 235px;
  height: 25px;
  left: 27px;
  top: 30px;
}
.container-top .group {
  display: flex;
  position: fixed;
  flex-direction: row;
  gap: 8px;
  top: 60px;
  left: 30px;
  font-family: 'itim';
  font-size: 23px;
}
.container-top .grt h4 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-44%);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.container-main {
  background-color: #ffff;
  bottom: 0px;
  z-index: -10 !important;
  position: fixed;
  height: 500px;
  width: 390px;
  border-radius: 20px 20px 0 0;
}
.container {
  margin-top: 180px;
}
.container nav .cont {
  background-color: #d9d9d9;
  z-index: 1;
  border-radius: 26px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 300px;
  left: 45px;
}

.firstlink {
  z-index: 2;
  position: fixed;
  left: 45px;
  top: 180px;
  border-radius: 26px;
  background-color: #d9d9d9;
  width: 100px;
  height: 40px;
}
.firstlink p {
  position: fixed;
  top: 190px;
  left: 65px;
}

.secondlink {
  z-index: 2;
  position: fixed;
  left: 145px;
  top: 180px;
  border-radius: 26px;
  background-color: #d9d9d9;
  width: 100px;
  height: 40px;
}
.secondlink p {
  position: fixed;
  left: 175px;
  top: 190px;
}

.thirdlink {
  z-index: 2;
  position: fixed;
  left: 245px;
  top: 180px;
  border-radius: 26px;
  background-color: #d9d9d9;
  width: 100px;
  height: 40px;
}
.thirdlink p {
  position: fixed;
  left: 270px;
  top: 190px;
}
.active {
  position: fixed;
  color: #ffff !important;
  z-index: 3 !important;
  background-color: #000 !important;
}
